@using PM_ASVN.Models
@model ItemModel
@{
    ViewBag.Title = "Index Feature";
}

<style>
    .modal-header {
        border-bottom: none;
    }
</style>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="tabbable-custom ">
                        <ul class="nav nav-tabs" id="nav-tabs">
                            <li id="workgroup">
                                <a href="/System/Index"> WorkGroup / WorkItem </a>
                            </li>
                            <li id="priority">
                                <a href="/System/Index?tab=priority"> TestCase Priority </a>
                            </li>
                            <li id="type">
                                <a href="/System/Index?tab=type"> TestCase Type </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            @if (@Request.QueryString["tab"] == "workgroup" | @Request.QueryString["tab"] == null)
                            {
                                @Html.Action("ChildList", "Item", new { model = new ListItemModel() { Type = Types.WorkGroup, Edit = true } })
                            }
                            @if (@Request.QueryString["tab"] == "priority")
                            {
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="dataTables_length" id="sample_1_length">
                                            <!--Code-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div id="sample_1_filter" class="dataTables_filter">
                                            <a data-action="add_new" class="btn blue" style="float:right">+ New TestCase Priority</a>
                                        </div>
                                    </div>
                                </div>
                                @Html.Action("ChildList", "Item", new
                                {
                                    model = new ListItemModel()
                                    {
                                        Type = Types.TCPriority,
                                        Template = @<text><a class="btn btn-circle yellow-crusta" href="/TestCase/PriorityTestCase?Data.ID=@item.ID">Edit</a></text>
                                    }
                                })
                            }
                            @if (@Request.QueryString["tab"] == "type")
                            {
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="dataTables_length" id="sample_1_length">
                                            <!--Code-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div id="sample_1_filter" class="dataTables_filter">
                                            <a data-action="add_new" class="btn blue" style="float:right">+ New TestCase Type</a>
                                        </div>
                                    </div>
                                </div>
                                @Html.Action("ChildList", "Item", new
                                {
                                   model = new ListItemModel()
                                   {
                                       Type = Types.TypeTestCase,
                                       Template = @<text><a class="btn btn-circle yellow-crusta" href="/TestCase/TypeTestCase?Data.ID=@item.ID">Edit</a></text>
                                   }
                                })
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
<div id="modal_new" class="modal fade bs-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only"></span>
                </button>
            </div>
            <div class="modal-body">
                @if (@Request.QueryString["tab"] == "priority")
                {
                    @Html.Action("ManageItem", "Item", new { model = new ItemModel() { Data = new PM_ASVN.Common.Item() { Type = (int)Types.TCPriority }, ReturnUrl = Request.RawUrl } })
                }
                @if (@Request.QueryString["tab"] == "type")
                {
                    @Html.Action("ManageItem", "Item", new { model = new ItemModel() { Data = new PM_ASVN.Common.Item() { Type = (int)Types.TypeTestCase }, ReturnUrl = Request.RawUrl } })
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on('click', '.blue', function () {
        var $action = $(this).data("action");
        if ($action == "add_new") {
            $('#modal_new').modal('show');
            return false;
        }
    });
    $(function () {
        $("#nav-tabs > li").each(function () {
            var type = location.search.split("tab=")[1];
            if (type == null) {
                $("#nav-tabs li:first-child").addClass("active");
            }
            else {
                var type2 = type.split("&")[0];
                var id = $(this).attr("id");
                if (id == type2) {
                    $(this).addClass('active');
                }
            }
        });
    });
</script>