@using PM_ASVN.Models
@model IEnumerable<TestCaseModel>
@{
    ViewBag.Title = "ManageUsersTestCase";
    Layout = null;
}
<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet light" style="height: 200px">
        <div class="portlet-title" style="border-bottom: 1px solid #eee; min-height: 25px;">
            <div class="caption" style="padding: 0px;">
                <i class="icon-users font-blue" style="color:blue"></i>
                <span class="caption-subject font-blue bold uppercase">Users</span>
            </div>
            <div class="actions">
                <b>Users: </b><select id="lstUsers" multiple="multiple">
                    @if (ViewData["lstUsers"] != null)
                    {
                        foreach (var item in ViewData["lstUsers"] as IEnumerable<PM_ASVN.Common.Item>)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    }

                </select>
                <a style="margin-left:10px" class="btn blue add">Add</a>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $(function () {
                    $('#lstUsers').multiselect({
                        includeSelectAllOption: true
                    });
                });
            });
        </script>

        <div class="portlet-body">
            <div class="table-scrollable" style="overflow-y: auto; height: 130px;">
                <table id="tableUsers" class="table table-striped table-bordered table-hover tbl-estimate">
                    <thead>
                        <tr>
                            <th>User</th>
                            @foreach (var item in ViewData["lstBrowsers"] as IEnumerable<PM_ASVN.Common.Item>)
                            {
                                <th style="text-align: center" width="10%" value="@item.ID">@item.Name</th>
                            }
                            <th width="2%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr data-id="@item.ID">
                                    <td id="name">@item.Name</td>
                                    @foreach (var browser in item.Browsers)
                                    {
                                        if (browser == true)
                                        {
                                            <td style="text-align: center">&#10004;</td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center"></td>
                                        }
                                    }
                                    <td><a class="btn btn-circle btn-outline btn-danger removeuser"><i class="icon-trash"></i></a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>

<div id="modal_browser" class="modal fade bs-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style=" border-bottom: 1px solid #e5e5e5;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only"></span>
                </button>
                <h4 class="modal-title">Select Browsers</h4>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <table id="tableUsersSelected" class="table table-striped table-bordered table-hover tbl-estimate">
                        <thead>
                            <tr>
                                <th>User</th>
                                @foreach (var item in ViewData["lstBrowsers"] as IEnumerable<PM_ASVN.Common.Item>)
                                {
                                    <th style="text-align: center" width="10%" value="@item.ID">@item.Name</th>
                                }
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <a class="btn blue savebrowsers">Save Changes</a>
            </div>
        </div>
    </div>
</div>
<style>
    ul.multiselect-container.dropdown-menu li a {
        font-size: 11px;
    }

    ul.multiselect-container.dropdown-menu {
        padding: 2px 4px;
    }
</style>
<script>
    $(document).on('click', '.add', function () {
        var lstUser = [];
        $.each($("#lstUsers option:selected"), function () {
            lstUser.push($(this).val());
        });
        $.ajax({
            url: "/Item/ManageUsersTestCase",
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                "Data.ID": $("#Data_ID").val(),
                "lstUsersSelected": lstUser,
                "Action": "Add"
            }),
            success: function (data) {
                if (data.result == "OK") {
                    location.reload();
                }
            }
        });
    });

    $(document).on('click', '.savebrowsers', function () {
        var index = -1;
        var idUser = $("#tableUsersSelected tbody tr:first").data("id");
        var lstBrowser = [];

        $('#tableUsersSelected tbody tr:first td').each(function () {
            if ($(this).find("input:checkbox").is(':checked') == true)
                lstBrowser.push(index);
            index++;
        });

        var lstUser = [];
        lstUser.push(idUser);

        $.ajax({
            url: "/Item/ManageUsersTestCase",
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                "Data.ID": $("#Data_ID").val(),
                "lstUsersSelected": lstUser,
                "Action": "Edit",
                "lstBrowsersSelected": lstBrowser
            }),
            success: function (data) {
                if (data.result == "OK") {
                    location.reload();
                }
            }
        });
    });

    $(document).on('click', '.removeuser', function () {
        var question = confirm("Do you really want to delete ?");
        if (question == true) {
            var row = $(this).closest("tr");
            var idUser = row.data("id");
            var lstUser = [];
            lstUser.push(idUser);

            $.ajax({
                url: "/Item/ManageUsersTestCase",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    "Data.ID": $("#Data_ID").val(),
                    "lstUsersSelected": lstUser,
                    "Action": "Remove"
                }),
                success: function (data) {
                    if (data.result == "OK") {
                        location.reload();
                    }
                }
            });

        }
    });

    $(document).on('click', '#tableUsers tbody tr td:not(:last-child)', function () {
        var row = $(this).closest("tr");
        var nameUsers = row.find("td#name").text();
        var idUser = row.data("id");
        var lstUser = [];
        lstUser.push(idUser);
        var idTestCase = $("#Data_ID").val();
        $.ajax({
            url: "/Item/ManageUsersTestCase",
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                "Data.ID": $("#Data_ID").val(),
                "lstUsersSelected": lstUser,
                "Action": "Show"
            }),
            success: function (data) {
                $("#tableUsersSelected tbody").empty();
                var tr = "<tr data-id='" + idUser + "'>";
                tr += "<td>" + nameUsers + "</td>";
                $(data.result.Browsers).each(function (key, value) {

                    if (value == true)
                        tr += "<td style='text-align:center'><input name='browser' type='checkbox' checked/></td>";
                    if (value == false)
                        tr += "<td style='text-align:center'><input type='checkbox'/></td>";
                })
                tr += "</tr>";
                $("#tableUsersSelected tbody").append(tr);
            }
        });
        $('#modal_browser').modal('show');
    });
</script>


