@model MVCDemo.Models.Feature

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Feature</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Module Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.ModuleName)
        </dd>

        <dt>
          Feature Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeatureName)
        </dd>

        <dt>
        Feature Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeatureDescription)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@Html.Partial("_Footer")